[Unit]
Description=Django backend for autocards site

[Service]
WorkingDir=/opt/sites/autocards/
ExecStart=python3 /opt/sites/autocards/manage.py runserver 12181

[Install]
WantedBy=multi-user.target
