<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>AI-Powered Flash Cards Generator</title>
</head>
<body>
    <div class="container d-flex justify-content-center mt-5">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
             <!--   <label for="exampleInputEmail1">Email address</label> -->
                <input name="input1" type="text" class="form-control" id="input1" aria-describedby="textbox_text" placeholder="Enter prompt">
                <small id="textbox_text" class="form-text text-muted">Enter your desired AI-Generated flashcard set - for example, "most common English to French phrases"</small>
            </div>
            <div class="form-group">
                <input name="input2" type="text" class="form-control text-muted" id="input2" placeholder="Size of deck (1-26)">
                <!-- <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>-->
            </div>
            <input type="submit" class="btn btn-primary" value="Submit">


                <!---
                <label for="input1">Prompt:</label>
                <input type="text" id="input1" name="input1"><br><br>
                <label for="input2">Deck size:</label>
                <input type="text" id="input2" name="input2"><br><br>
                <input type="submit" value="Submit">
                -->
        </form>
    </div>

    <!-- Bootstrap stuff -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        function clearPlaceholder(input) {
            input.placeholder = '';
        }
    </script>
</body>
</html>